{
  "swagger": "2.0",
  "info": {
    "title": "Azure DevOps API",
    "description": "Connect to Azure DevOps for project and work item operations",
    "version": "1.0"
  },
  "host": "calm-pond-0d73b6c0f.2.azurestaticapps.net",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/health": {
      "get": {
        "operationId": "HealthCheck",
        "summary": "Health check",
        "description": "Check if the API service is running",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "schema": {
              "type": "object",
              "properties": {
                "status": {"type": "string"},
                "timestamp": {"type": "string"},
                "service": {"type": "string"}
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "ListProjects",
        "summary": "List all projects",
        "description": "Get all Azure DevOps projects",
        "responses": {
          "200": {
            "description": "List of projects",
            "schema": {
              "type": "object",
              "properties": {
                "success": {"type": "boolean"},
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "name": {"type": "string"},
                      "description": {"type": "string"},
                      "url": {"type": "string"},
                      "state": {"type": "string"},
                      "visibility": {"type": "string"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workitems": {
      "post": {
        "operationId": "CreateWorkItem",
        "summary": "Create work item",
        "description": "Create a new work item in Azure DevOps",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["project", "type", "title"],
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Project name"
                },
                "type": {
                  "type": "string",
                  "description": "Work item type (Task, Bug, User Story)",
                  "enum": ["Task", "Bug", "User Story", "Feature"]
                },
                "title": {
                  "type": "string",
                  "description": "Work item title"
                },
                "description": {
                  "type": "string",
                  "description": "Work item description"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Work item created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "success": {"type": "boolean"},
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "integer"},
                    "title": {"type": "string"},
                    "state": {"type": "string"},
                    "url": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetWorkItem",
        "summary": "Get work item",
        "description": "Get work item by ID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Work item ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Work item details",
            "schema": {
              "type": "object",
              "properties": {
                "success": {"type": "boolean"},
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "integer"},
                    "title": {"type": "string"},
                    "description": {"type": "string"},
                    "state": {"type": "string"},
                    "assignedTo": {"type": "string"},
                    "createdDate": {"type": "string"},
                    "url": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}